<div class="container-clientes">
    <div class="adicionar-cliente">
        <p-button label="Adicionar" (click)="abrirModal()"></p-button>
    </div>
    <div class="lista-clientes">
        <p-table [value]="clientes">
            <ng-template pTemplate="header">
                <tr>
                    <th>Email</th>
                    <th>Permissão</th>
                    <th>Departamento</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-cliente>
                <tr>
                    <td>{{ cliente.email }}</td>
                    <td class="align-center">{{ cliente.permission }}</td>
                    <td class="align-center">{{ cliente.departamento }}</td>
                    <td>
                        <i class="pi pi-user-edit" style="color: #3B82F6;" (click)="editUser(cliente)"></i>
                        &nbsp;&nbsp;
                        <i class="pi pi-trash" style="color: red;" (click)="deleteUser(cliente)"></i>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<app-adicionar-usuario [mostrar]="visible" [user]="user" (fecharModal)="fecharModal($event)"></app-adicionar-usuario>