<div class="container-tabela-dados">
    
    <p-table [value]="clientes" [(selection)]="clientesSelecionados" dataKey="prefixo">
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pResizableColumn>Prefixo</th>
                <th pResizableColumn>Nome</th>
                <th pResizableColumn>Data de Extração</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cliente>
            <tr>
                <td>
                    <p-tableCheckbox [value]="cliente"></p-tableCheckbox>
                </td>
                <td>{{cliente.prefixo}}</td>
                <td>{{cliente.nome}}</td>
                <td>{{cliente.datahora_extracao | date:'dd/MM/yyyy':'pt-BR'}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>