.app-geral {
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    app-header {
        width: 100%;
    }

    .conteudo-pagina {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}